body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins';
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.swinging-image {
    position: relative;
    width: 150px;
    height: auto;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: swing 8s ease-in-out infinite alternate;
    transform-origin: top center;
    pointer-events: none;
    filter: grayscale(100%);
}

@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.fade-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-size: 24px;
    color: white;
    cursor: pointer;
    outline: none;
    user-select: none;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.5s; 
}

.fade-button:hover {
    color: white;
    text-decoration: underline;
    transform: translate(-50%, -60%);
}

.fade-button:active {
    opacity: 0; 
}

.snowflake {
    position: absolute;
    top: -10px;
    font-size: 20px;
    color: white;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
        opacity: 1;
    }
    100% {
        transform: translateY(200vh);
        opacity: 0;
    }
}

.names-list {
    position: fixed;
    top: calc(50% - 300px);
    right: calc(50% - 500px);
    height: calc(200px);
    z-index: 999;
    color: white;
    font-family: 'Poppins';
    font-size: 30px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.names-list.show {
    opacity: 1;
}

.names-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.names-list ul li {
    margin-bottom: 10px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.3s ease;
    font-smooth: always; 
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility; 
    cursor: pointer;
}

.names-list ul li:hover {
    text-decoration: underline;
    transform: translateX(10px);
}

* {cursor: url(cursor.cur), auto !important;}

.blood-splat {
    position: fixed; 
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: 9999;
    width: 100px;
    height: auto;
    clip-path: circle(50%);
}

.blood-splat img {
    width: 100%;
    height: auto;
}

.blood-splat.active {
    opacity: 1;
}

.button-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.windows-xp-popup {
    position: fixed;
    background-color: rgba(169, 169, 169, 0.1);
    border: 2px solid white;
    padding: 0;
    z-index: 1000;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.kitty-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 41px;
}

.windows-xp-window {
    position: relative;
    width: 400px;
    height: 240px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.windows-xp-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
}

.windows-xp-close-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.windows-xp-text {
    color: white;
    font-size: 24px;
    font-family: 'Poppins';
    user-select: none;
    cursor: grab;
    margin-top: 20px;
}

.windows-xp-text a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Poppins';
}

.windows-xp-text a:hover {
    text-decoration: underline;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    pointer-events: none;
}
